.card-icon {
    width:50px;
}
.card-box {
    /* offset: 10px; */
    padding: 10px 10px 10px 10px;
    margin-bottom: 25px;
    background-color: #d3d3d3;
    border-radius: 10px;
    height:175px;
}